/* Custom scrollbar styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Border left width 3px */
.border-l-3 {
  border-left-width: 3px;
}
