@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in-95 {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-in {
  animation: fade-in 0.3s ease-out;
}

.fade-in {
  animation: fade-in 0.3s ease-out;
}

.zoom-in-95 {
  animation: zoom-in-95 0.3s ease-out;
}

/* Remove spinner arrows from number inputs */
.code-input::-webkit-outer-spin-button,
.code-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code-input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
